/*CUSTOMIZe*/

.orbit-bullets {
	display: inline-block;
}
.margin {
	width: 100%;
	position: relative;
	margin: 40px auto;
}
.padding {
	position: relative;
	width: 100%;
	padding: 40px 0;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.hr-alt {
	border-bottom: 2px solid #000;
	width: 60%;
	margin: 40px auto;
	position: relative;
}
.top-bar-section {
	padding: 0;
}
.hero {
	padding: 0;
}
section {
	padding: 100px 0;
	max-width: 1500px;
	margin: 0 auto;
}

.utvalda-projekt .large-6 {
	padding: 0.9375em;
	margin: 0;
}
.utvalda-projekt .large-6 h3 {
	margin-top: 180px;
}
.bildspel-text-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 70%;
  height: 100%;
  left: 15%;
  display:table;
}
.bildspel-text-container h1 {
  border: none;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.icon-8x {
	font-size: 8em;
}

.maps img{
	width: 100%;
}

/* HOVER EFFEKT */

/*.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}*/
.grid {
	margin: 0.9375em 0;
}
.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(106, 117, 121, 0.6);
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: '';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}