/*CUSTOMIZe*/
/**/
/*GENERAL CHANGES */

.orbit-bullets {
	display: inline-block;
}
.margin {
	width: 100%;
	position: relative;
	margin: 40px auto;
}
.padding {
	position: relative;
	width: 100%;
	padding: 40px;
	clear: both;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.hr-alt {
	border-bottom: 2px solid #000;
	width: 60%;
	margin: 40px auto;
	position: relative;
}

/*HEADER */
.top-bar-section {
	padding: 0;
	display: block;
}
.top-bar {
	background: #fff;
}
.top-bar-section ul li > a {
	background: #fff !important;
	color: #333;
}

.contain-to-grid {
	background: #fff;
}
.top-bar .name h1 a {
	color: #333;
}
.top-bar.expanded .title-area {
	background: #fff;
}
.top-bar .toggle-topbar.menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px #333, 0 16px 0 1px #333, 0 22px 0 1px #333;
box-shadow: 0 10px 0 1px #333, 0 16px 0 1px #333, 0 22px 0 1px #333;
}
.top-bar.expanded .toggle-topbar a {
	color: #333;
}
.top-bar .toggle-topbar.menu-icon a {
	color: #333;
}
.hero {
	padding: 0;
}

.second-bkg {
	background: #fafafa;
}

.large-left-bottom {
	padding-left: 0;
	padding-bottom: 0.9375em; 
}
.large-left-top {
	padding-left: 0;
}


.horizontal-text {
	display: table;
	height: 100px;
}
.horizontal-text p {
	display: table-cell;
	vertical-align:middle;
}
section {
	padding: 100px 0;
	max-width: 1500px;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}
.blogg-caption {
	position: absolute;
	bottom: 0;
	background-color: #39ac8d;
	width: 96.8%;
	padding: 10px 14px;
}
.blogg-caption h4 {
	color: #fff;
	margin: 0;
}
.blogg-caption ul  {
	margin-bottom: 0;
}

.utvalda-projekt .large-6 {
	padding: 0.9375em;
	margin: 0;
}
.utvalda-projekt .large-6 h3 {
	margin-top: 180px;
}
.bildspel-text-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 70%;
  height: 100%;
  left: 15%;
  display:table;
}
.bildspel-text-container h1 {
  border: none;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.icon-8x {
	font-size: 8em;
}

.maps img{
	width: 100%;
}

/* HOOVER */
.grid {
	margin: 0.9375em 0;
}
.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(106, 117, 121, 0.6);
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: '';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}