/* GENERAL CHANGES */
body {
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	font-family: 'ProximaNova';
}
.button-group {
	margin: 0 0 3em 0;
}
.flat-icon {
	padding: 15px 16px;
	display: inline-block;
	line-height: 100%;
	overflow: hidden;
	border-radius: 10000px;
	-moz-border-radius: 10000px;
    -webkit-border-radius: 10000px;
}
.facts-block .kontor {
	background: #f6f2e9;
	}
.kontor h2, .kontor h5 {
	color: #868686;
	line-height: .8em;
	margin-bottom: 0;
}
.kontor h5 {
	padding-bottom: 1em;
	padding-top: .5em;
}
.icon-Kontor_1 {
	font-size: 10em;	
	color: #868686;
}
.icon-Kontor_2 {
	font-size: 7em;
	color: #868686;
	opacity: 0;
	position: absolute;
	opacity: 0;
	bottom:20px;
	-webkit-transition: all 1s;
	left: 50%;
	margin-left: -56px;

}
.kontor:hover .icon-Kontor_2 {
	bottom: 125px;
	opacity: 1;
}
.kontor:hover .icon-Kontor_1:before {
	-webkit-animation: shake 0.5s 0.75s infinite linear;
}
.icon-Analys, .icon-Strategi, .icon-Ideer, .icon-Kommunikation, .icon-Design, .icon-Webb {
	font-size: 7em !important;
}
.icon-Forsta, .icon-Formulera, .icon-Forandra  {
	font-size: 10em;
	color:#d8e3e1;
}
/* Effect 13: three circles */
.cl-effect-13 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-13 a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
	color: #ba7700;
}



/*_____RESET _____*/
.orbit-container .orbit-timer , .paused {
	display: none !important;
}
.orbit-container .orbit-timer .orbit-progress {
	display: none;
}
.orbit-container .orbit-slide-number {
	display: none;
}
.orbit-prev, .orbit-next {
	display: none;
}
.orbit-container {
	background: #fff;
}
h1 {
	font-size: 4em;
}
.f-large {
	font-size: 7.8em;
	line-height: 1em;
	margin: 0
}
.f-medium {
	font-size: 6em;
	margin-bottom: 0;
	line-height: 1em;
}
.f-medium-x2 {
	font-size: 5em;
	margin-bottom: 0;
	line-height: 1em;
}
.f-light {
	font-family: 'ProximaNovaLight' !important;	
}
.f-thin {
	font-family: 'ProximaNovaThin' !important;	
}
.text-block {
	padding-top: 40px;
	padding-bottom: 40px;
}
.orbit-bullets {
	display: none;
}
.margin {
	width: 100%;
	position: relative;
	margin: 40px auto;
}
.padding {
	position: relative;
	width: 100%;
	padding: 40px;
	clear: both;
}
.margin-bottom-80 {
	margin-bottom: 80px;
}
.hr-alt {
	border-bottom: 2px solid #000;
	width: 60%;
	margin: 40px auto;
	position: relative;
}
h1, h2, h3, h4, h5, h6 {

}
.subheader {
	margin-bottom: 2.5em;
}
/*_______BUTTONS_____ */
button, .button {
	border-style: none;
	border-width: 0;
	font-weight: normal;
	webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
button, .button.black {
	background-color: #3e3e3e;
	border: 2px solid #3e3e3e;
}
button, .button.transparent {
	background-color: transparent;
	border: 2px #fff solid;
}
button, .button.transparent.black {
	background-color: transparent;
	border: 1px #3e3e3e solid;
	color: #3e3e3e;
}

.button.transparent:hover {
	background-color: #fff;
	color: #3e3e3e;
}



.contain-to-grid {
	background: transparent;
}
.hero {
	padding: 0;
}
.second-bkg {
	background: #fafafa;
}
.third-bkg {
	background: #a3c5c5;
}

.large-left-bottom {
	padding-left: 0;
	padding-bottom: 0.9375em; 
}

.large-left-top {
	padding-left: 0;
}

.h-center {
  position: absolute;
  left: 50%;
  top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	width: 80%;
}
.h-center h1, .h-center h2 {
	color: #fff;
}
.h-center .button {
	margin-top: 2em;
}
.h-center-wide {
	width: 80%;
}

section {
	padding: 100px 0;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}
.inline-list {
	display: inline-block;
}

/*_______ABOUT US_____*/

.about-us-top {
	position: relative;
}
.about-us-page {
	padding-top: 0;
	padding-bottom: 0;
}
.quote .orbit-bullets{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.quote .orbit-bullets li {
	float: none;
	display: inline-block;
}
.about-us-top .h-text-center {
	width: 60%;
	left: 20%;
}
.quote .orbit-slides-container li h2:before {
	content: "\e018";
	position: absolute;
	top: 0;
	font-family: givakt-icons;
}
.quote .orbit-slides-container li h2:after {
	content: "\e017";
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: givakt-icons;
}
.quote .orbit-slides-container li h2 {
	margin-top: 40px;
	margin-bottom: 0;
}

/*_______competence_____*/
.competence {
	padding-bottom: 0;
}
.competence p {
	margin-top: 1em;
}


/* ______CONTACT_______ */

.contact {
	padding-top: 0;
}
.phone {
	padding: 0em 1em 1em;	
	margin: 0;
}
.about-me {
	color: #fff;
	line-height: 1.2;
}
.contact .grid ul {
	padding-top: 5em;
}
.map img {
	width: 100%;
	height: auto;
}
.map-container {
	padding-top: .2em;
}
.map {
	padding: 0;
}
.map {
	padding:0 .2em;
}
.map .tip {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #e7735b;
	color: #fff;
	width: 300px;
	margin-top: -75px;
}
.map .tip:before {
	content: "";
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #e7735b; 
	position: absolute;
	left: -10px;
	top: 50%;
	margin-top: -10px;
}
.map .tip:after {
	content: '\F041';
	font-family: FontAwesome;
	position: absolute;
	left: -73px;
	top: 46px;
	font-size: 2.3em;
	color: #fff;
	height: 50px;
	width: 50px;
	border-radius: 10000px;
	background: #e7735b;
	text-align: center;
	line-height: 50px;
}
.map .tip ul {
	margin: 1em 0;
}
.map .tip ul li {
	margin: .5em 3em;
}
 .contact .circle-alt-2 {
 	margin: 0 4%;
 }

/* ______BLOGG_______ */

 .blogg-jobb-headline {
 	padding-bottom: 50px;
 }

.blogg:hover .icon-stack{
	opacity: 1;
}
.blogg {
	overflow: hidden;
}
.blogg-grid .columns {
	padding-bottom: 0.234375em;
	padding-left: 0.234375em;
	padding-right: 0;
}
.blogg-caption .columns {
	padding-right: 0.234375em;
	padding-left: 0.234375em;
	padding-top: 0;
	padding-bottom: 0;
}
/*.older-post .columns:nth-child(even) {
	padding: 0 0.46875em 0;
}*/
.utvalda-projekt.blogg-grid {
	padding-right: 0;
}
.blogg-grid {
	padding-right: 0.234375em;
	padding-left: 0;
}
.blogg-page {
	padding-top: 0;
}
.blogg-page .inline-list {
	display: inline-block;
}
.blogg-top-img {
	padding: 0;
	
}
.blogg-top-img img{
	width: 100%;
	height: auto;

}
.blogg-grid .blogg a {
	display: block;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	/*
	background-image: linear-gradient(to bottom right,#dc4225,#002f4b);
	background-image: linear-gradient(to bottom right,#d38312,#a83279);
	*/
}
.blogg-grid .blogg a > img {
	display: block;
}

.circle {
	border: 1px solid #fff;
	border-radius: 1000px;
}
.circle-alt-2 {
	border-radius: 60px;
	padding: 12px;
	border: 2px solid #fff;
	width: 60px;
	height: 60px;
	display: inline-block;
	-webkit-transition: 0.5s background;
}
.circle-alt-2:hover {
	background: #FFF;
}
.circle-alt-2 .icon-light {
	-webkit-transition: 0.5s color;
}
.circle-alt-2:hover .icon-light {
	color: #3C4042;
}
.circle-img {
	border-radius: 10000px;
}
.icon-stack {
	opacity: .5
}


.blogg-caption {
	position: absolute;
	overflow: hidden;
	text-align: center;
	top: 0;
	bottom: 4px;
	left: 4px;
	right: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	background: rgba(0,0,0,0.3);
	-webkit-transition: 0.5s background;
	-moz-transition: 0.5s background;
	-o-transition: 0.5s background;
	-ms-transition: 0.5s background;
	transition: 0.5s background;
}
.utvalda-projekt .blogg-caption {
	left: 0;
	bottom: 0;
}

.blogg-caption h4 {
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 28px;
	display: block;
	vertical-align: middle;
	margin: 0 0 4px;
}
.blogg-caption .pusher {
	display: inline-block;
	height: 100%;
	background: red;
	width: 0;
	vertical-align: middle;
	margin-right: -0.25em;
}
.blogg-caption .caption-center {
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.blogg-caption span {
	color: #FFF;
	margin: 0;
	display: block;
	text-transform: uppercase;
}
.blogg a:hover .blogg-caption {
	background: rgba(0,0,0,0);
}
.more-about-us a:hover .blogg-caption {
	background: rgba(0,0,0,0);
}

.blogg .icon-ellipsis-horizontal, .more-about-us .icon-ellipsis-horizontal {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	bottom: -42px;
	left: 0;
	color: #FFF;
	opacity: 0;
	font-size: 46px;
	font-weight: normal;
	-webkit-transition: 0.25s all;
	-moz-transition: 0.25s all;
	-o-transition: 0.25s all;
	-ms-transition: 0.25s all;
	transition: 0.25s all;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
}
.blogg a:hover .icon-ellipsis-horizontal , .more-about-us a:hover .icon-ellipsis-horizontal {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.25s all;
	-moz-transition: 0.25s all;
	-o-transition: 0.25s all;
	-ms-transition: 0.25s all;
	transition: 0.25s all;
	
}

.utvalda-projekt .large-6 {
	padding: 0.9375em;
	margin: 0;
}
.utvalda-projekt .large-6 h3 {
	margin-top: 180px;
}
.bildspel-text-container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 70%;
  height: 100%;
  left: 15%;
  display:table;
}
.bildspel-text-container h1 {
  border: none;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.icon-8x {
	font-size: 8em;
}

.maps img{
	width: 100%;
}

/* HOOVER */
.grid {
	margin: 0.9375em 0;
}
.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #e7735b;
	color: #fff;
}

.grid figcaption h4 {
	margin: 0 0 .7em 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: '';
}

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	/* Change to make hover */
	opacity: 0;

	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-1 figcaption span {
	display: inline-block;
	opacity: 1;
}
.cs-style-1 li {
	display: inline;
	list-style-type: none;
}


/* MORE ABOUT US */
/* ============= */

.more-about-us h2,
.more-about-us p{
	color: #fff;
}
.more-about-us h4 {
	margin-top: 1em;
}
.more-about-us .blogg-caption {
	border-radius: 1000px;
	width: 223px;
	height: 223px;
	margin: 0 auto;
	left: 0;
}
.facts-block .columns {
	padding: 0.9375em;

}
.work-process .large-1 {
	width: 12.4%;
	margin-top: 4.5em;
}
.work-process i {
	color: #99b6be;
}

p.contact {
	margin-bottom: 0;

}
h4.contact {
	margin-bottom: 0;
	
}

/* FOOTER */ 
.footer {
	overflow: hidden;
	height: 400px;
	padding: 0;
	color: #fff;
	display: block;
}

.footer-bkg {
	background: #3c4042;
	height: 1000px;
	width: 45%;
	float: left;
}

.footer .row {
	z-index: 100;
	position: absolute;
	left: 50%;
	margin-left: -383px;
	display: inline-block;
}
.footer .row .large-6 {
	margin-top: 3em;
	height: 300px;
}
.footer .large-6 .inline-list {
	bottom: 0;
	position: absolute;
} 
.footer .contact li {
	margin-bottom: 1em;
	
}
.footer .icons-ul li i {
	-webkit-transition: 0.5s color;
}
.footer .icons-ul li:hover i {
	color: #EA7862;
}

.tilted {
	background: #444545;
	width: 55%;
	position: relative;
}
.tilted:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 210px solid #3c4042;
	position: absolute;
	border-top: 400px solid transparent;
	left: 0;
}


@media only screen and (max-width: 767px) {
	.work-process .large-1 {
		width: 100%;
		margin-top: 0;
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
	.footer {
		height: auto;
		background: #3c4042;

	}
	.footer .row {
		position: relative;
		left: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.footer .row .large-6 {
		height: auto;
	}
	.footer .large-6 .inline-list {
		position: relative;
		
	}
	.map .tip {
		position: relative;
		width: 95%;
		left: 0;
		margin: 0 auto;
		top: -30px;
	}
	.map .tip:after {
		left: 50%;
		top: -200px;
		margin-left: -25px;
	}
	.map .tip:before {
		top: -10px;
		left: 50%;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid transparent;
		border-bottom: 10px solid #e7735b;
		
	}
	.map .tip ul {
		margin: .5em;
		padding: 1em 0;
	}
}

	/*______BLOGG_____*/
	.blogg {
		padding: 0 0 0.9375em 0;
	}

.utvalda-projekt .large-6 {
	padding: 0;
}
{
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	color: #FFF;
	top: 50%;
	left: 50%;
	line-height: 28px;
	margin: -13px 0 0 -13px;
	opacity: 0;
	-webkit-transform: scale(0.5);
	-webkit-transition: 0.15s all ease;
	text-shadow: 0 1px 3px rgba(0,0,0,0.55);	
}

.hero {
	position: relative;
}
.hero ul {
	display: none;
}
.hero video {
	width: 100%;
}
.hero .video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 4px;
	background: rgba(0,0,0,0.25);
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 2.75em !important;
		}
}
