body.noscroll {
  overflow-y: hidden;
  overflow-x: hidden; }

body.noscroll .contain-to-grid .top-bar {
  padding-right: 7px; }

.project-stage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  z-index: 20; }
  .project-stage.active {
    display: block; }

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-image: linear, to bottom right, #d38312, #a83279;
  opacity: 0.75;
  z-index: 20;
  border-radius: 0 1px 1px 0;
  -webkit-transition: width 0.1s ease-in;
  -moz-transition: width 0.1s ease-in;
  -o-transition: width 0.1s ease-in;
  -ms-transition: width 0.1s ease-in;
  transition: width 0.1s ease-in; }

.project-controls {
  z-index: 10;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  transition: opacity 0.25s; }
  .project-controls.active {
    opacity: 1; }
  .project-controls .nav-project {
    position: fixed;
    left: 50px;
    top: 50%;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 36px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.75);
    z-index: 10;
    color: #3C4042;
    text-align: center;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.25s -webkit-transform, 0.25s color 0.25s;
    -moz-transition: 0.25s -moz-transform, 0.25s color 0.25s;
    -o-transition: 0.25s -o-transform, 0.25s color 0.25s;
    -ms-transition: 0.25s -ms-transform, 0.25s color 0.25s;
    transition: 0.25s transform, 0.25s color 0.25s; }
    .project-controls .nav-project:hover {
      cursor: pointer;
      -webkit-transform: scale(3);
      -moz-transform: scale(3);
      -o-transform: scale(3);
      -ms-transform: scale(3);
      transform: scale(3);
      color: #FFF;
      -webkit-transition: 0.25s -webkit-transform 0.25s, 0.25s color;
      -moz-transition: 0.25s -moz-transform 0.25s, 0.25s color;
      -o-transition: 0.25s -o-transform 0.25s, 0.25s color;
      -ms-transition: 0.25s -ms-transform 0.25s, 0.25s color;
      transition: 0.25s transform 0.25s, 0.25s color; }
  .project-controls .nav-innerbg {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background: url("../img/img_prev.jpg") no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    -o-transition: 0.25s all;
    -ms-transition: 0.25s all;
    transition: 0.25s all;
    border-radius: 25px;
    color: #FFF;
    font-weight: bold; }
  .project-controls.next-project .nav-innerbg {
    background: url("../img/img_next.jpg") no-repeat;
    background-size: 100% 100%; }

.nav-project:hover .nav-innerbg {
  opacity: 1;
  -webkit-transition: 0.25s all 0.25s;
  -moz-transition: 0.25s all 0.25s;
  -o-transition: 0.25s all 0.25s;
  -ms-transition: 0.25s all 0.25s;
  transition: 0.25s all 0.25s; }

.project-controls .next-project {
  left: auto;
  right: 50px;
  text-indent: 1px; }

.project-controls .prev-project {
  text-indent: -2px; }

.project-controls .exit-project {
  top: 50px;
  font-size: 20px; }

.project-controls .exit-project:hover {
  -webkit-transform: rotate(180deg);
  color: #3C4042; }

.project-controls .icon-2x {
  opacity: 0; }

.project-controls .icon-2x.show {
  opacity: 1; }

.project-page {
  background: #FFF;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.project-page.scroll {
  overflow-y: auto; }

.project-current,
.no-js .project-page {
  height: auto;
  visibility: visible;
  z-index: 1;
  left: 0; }

.project-page img {
  width: 100%; }

.project-page .img-0 {
  float: left; }

.project-page .blogg-top-img {
  padding: 0;
  float: none; }

.project-page .image-full {
  width: 101%;
  height: 80%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.project-page .h-center > h3 {
  color: #FFF; }

.project-page .project-channel {
  display: none; }

.project-page .project-channel.show {
  display: inline-block; }

.no-js body {
  overflow: auto; }

.project-page .inline-list {
  display: inline-block; }

.project-page .large-8 {
  margin: 40px auto; }

.project-page .large-6 {
  margin-top: 80px;
  margin-bottom: 80px; }

.project-page .h-center {
  text-transform: uppercase; }

/* PROJECT TRANSITIONS */
/* =================== */
.project-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  -moz-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both; }

.project-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  -moz-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both; }

.project-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  -moz-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both; }

.project-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  -moz-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; }

@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveToLeft {
  to {
    -moz-transform: translateX(-100%); } }

@keyframes moveToLeft {
  to {
    transform: translateX(-100%); } }

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%); } }

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%); } }

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveToRight {
  to {
    -moz-transform: translateX(100%); } }

@keyframes moveToRight {
  to {
    transform: translateX(100%); } }

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }

@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%); } }

@keyframes moveFromRight {
  from {
    transform: translateX(100%); } }
